.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/SCAtlas.owl
src/ontology/SCAtlas.obo
src/ontology/SCAtlas.json
src/ontology/SCAtlas-base.*
src/ontology/SCAtlas-basic.*
src/ontology/SCAtlas-full.*
src/ontology/SCAtlas-simple.*
src/ontology/SCAtlas-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns
*.tmp.obo
*.tmp.owl
/imports
src/ontology/components/*extract.sparql
src/ontology/imports/*.json
src/ontology/imports/*.obo
src/ontology/imports/*_terms.txt
src/ontology/components/*_simple_seed.txt
src/ontology/imports/fbbt_merged.owl
src/ontology/imports/fbbt_merge.owl
docs/case.md
